* {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

#title {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2 4px;
}


/* Create four equal columns that sits next to each other */

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 20px;
    vertical-align: middle;
    width: 100%;
    justify-content: center;
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

#tribute-link {
    margin-bottom: 10px;
}

#tribute-info {
    text-align: center;
    font-size: 25px;
}

#img-caption {
    font-size: 30px;
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 3px;
    text-align: center;
}